<footer class="topnav">
    <div class="footer-copyright">
        <div class="container" style="color: maroon;">
            All articles belong to <a href='https://tribune.com.pk' target="_blank" style="color: maroon">The Express Tribune</a>
            <a class="text-lighten-4 right" href="/articles-json" style="color: maroon">Article JSON</a>
        </div>
    </div>
</footer>